*.iml
env
*.DS_Store
*.pyc
__pycache__
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
django_backend/django_backend/myapp/migrations/
app/libs/spotify-auth-1.0.0-beta12.aar
app/libs/spotify-player-24-noconnect-2.20b.aar
app/libs/android-auth-1.0/.gitignore
app/libs/android-auth-1.0/.travis.yml
app/libs/android-auth-1.0/build.gradle
app/libs/android-auth-1.0/gradle.properties
app/libs/android-auth-1.0/gradlew
app/libs/android-auth-1.0/gradlew.bat
app/libs/android-auth-1.0/LICENSE
app/libs/android-auth-1.0/README.md
app/libs/android-auth-1.0/settings.gradle
app/libs/android-auth-1.0/spotify-player-24-noconnect-2.20b.aar
app/libs/android-auth-1.0/auth-lib/build.gradle
app/libs/android-auth-1.0/auth-lib/src/main/AndroidManifest.xml
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/AuthCallbackActivity.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/AuthenticationClient.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/AuthenticationHandler.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/AuthenticationRequest.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/AuthenticationResponse.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/CustomTabAuthHandler.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/LoginActivity.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/LoginDialog.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/package-info.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/SpotifyAuthHandler.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/SpotifyNativeAuthUtil.java
app/libs/android-auth-1.0/auth-lib/src/main/java/com/spotify/sdk/android/authentication/WebViewAuthHandler.java
app/libs/android-auth-1.0/auth-lib/src/main/res/layout/com_spotify_sdk_login_activity.xml
app/libs/android-auth-1.0/auth-lib/src/main/res/layout/com_spotify_sdk_login_dialog.xml
app/libs/android-auth-1.0/auth-lib/src/main/res/values/strings.xml
app/libs/android-auth-1.0/auth-lib/src/test/java/android/net/http/AndroidHttpClient.java
app/libs/android-auth-1.0/auth-lib/src/test/java/com/spotify/sdk/android/authentication/AuthenticationClientTest.java
app/libs/android-auth-1.0/auth-lib/src/test/java/com/spotify/sdk/android/authentication/AuthenticationRequestTest.java
app/libs/android-auth-1.0/auth-lib/src/test/java/com/spotify/sdk/android/authentication/AuthenticationResponseTest.java
app/libs/android-auth-1.0/auth-lib/src/test/java/com/spotify/sdk/android/authentication/LoginActivityTest.java
app/libs/android-auth-1.0/auth-lib/src/test/resources/robolectric.properties
app/libs/android-auth-1.0/auth-sample/.gitignore
app/libs/android-auth-1.0/auth-sample/build.gradle
app/libs/android-auth-1.0/auth-sample/src/main/AndroidManifest.xml
app/libs/android-auth-1.0/auth-sample/src/main/java/com/spotify/sdk/android/authentication/sample/MainActivity.java
app/libs/android-auth-1.0/auth-sample/src/main/res/layout/activity_main.xml
app/libs/android-auth-1.0/auth-sample/src/main/res/mipmap-hdpi/ic_launcher.png
app/libs/android-auth-1.0/auth-sample/src/main/res/mipmap-mdpi/ic_launcher.png
app/libs/android-auth-1.0/auth-sample/src/main/res/mipmap-xhdpi/ic_launcher.png
app/libs/android-auth-1.0/auth-sample/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/libs/android-auth-1.0/auth-sample/src/main/res/mipmap-xxxhdpi/ic_launcher.png
app/libs/android-auth-1.0/auth-sample/src/main/res/values/colors.xml
app/libs/android-auth-1.0/auth-sample/src/main/res/values/dimens.xml
app/libs/android-auth-1.0/auth-sample/src/main/res/values/spotify-strings.xml
app/libs/android-auth-1.0/auth-sample/src/main/res/values/strings.xml
app/libs/android-auth-1.0/auth-sample/src/main/res/values/styles.xml
app/libs/android-auth-1.0/config/checkstyle.xml
app/libs/android-auth-1.0/config/findbugs-filter.xml
app/libs/android-auth-1.0/config/lint.xml
app/libs/android-auth-1.0/docs/allclasses-frame.html
app/libs/android-auth-1.0/docs/allclasses-noframe.html
app/libs/android-auth-1.0/docs/constant-values.html
app/libs/android-auth-1.0/docs/deprecated-list.html
app/libs/android-auth-1.0/docs/help-doc.html
app/libs/android-auth-1.0/docs/index-all.html
app/libs/android-auth-1.0/docs/index.html
app/libs/android-auth-1.0/docs/overview-tree.html
app/libs/android-auth-1.0/docs/package-list
app/libs/android-auth-1.0/docs/script.js
app/libs/android-auth-1.0/docs/stylesheet.css
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthCallbackActivity.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationClient.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationHandler.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationHandler.OnCompleteListener.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationRequest.Builder.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationRequest.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationResponse.Builder.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationResponse.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/AuthenticationResponse.Type.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/CustomTabAuthHandler.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/LoginActivity.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/package-frame.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/package-summary.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/package-tree.html
app/libs/android-auth-1.0/docs/com/spotify/sdk/android/authentication/SpotifyNativeAuthUtil.html
app/libs/android-auth-1.0/gradle/wrapper/gradle-wrapper.jar
app/libs/android-auth-1.0/gradle/wrapper/gradle-wrapper.properties
app/libs/android-sdk-24-noconnect-2.20b/.gitignore
app/libs/android-sdk-24-noconnect-2.20b/CHANGELOG.md
app/libs/android-sdk-24-noconnect-2.20b/ISSUE_TEMPLATE.md
app/libs/android-sdk-24-noconnect-2.20b/README.md
app/libs/android-sdk-24-noconnect-2.20b/spotify-player-24-noconnect-2.20b.aar
app/libs/android-sdk-24-noconnect-2.20b/docs/player/allclasses-frame.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/allclasses-noframe.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/constant-values.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/deprecated-list.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/help-doc.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/index-all.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/index.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/javadoc.css
app/libs/android-sdk-24-noconnect-2.20b/docs/player/overview-summary.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/overview-tree.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/package-list
app/libs/android-sdk-24-noconnect-2.20b/docs/player/script.js
app/libs/android-sdk-24-noconnect-2.20b/docs/player/serialized-form.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/AudioController.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/AudioRingBuffer.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Config.DeviceType.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Config.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/ConnectionStateCallback.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Connectivity.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Error.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Metadata.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Metadata.Track.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/package-frame.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/package-summary.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/package-tree.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/PlaybackBitrate.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/PlaybackState.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Player.AudioDeliveredCallback.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Player.AudioFlushCallback.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Player.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Player.NotificationCallback.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Player.OperationCallback.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/PlayerEvent.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/PlayerInitializationException.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/Spotify.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/SpotifyPlayer.Builder.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/SpotifyPlayer.html
app/libs/android-sdk-24-noconnect-2.20b/docs/player/com/spotify/sdk/android/player/SpotifyPlayer.InitializationObserver.html
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/build.gradle
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/proguard.cfg
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/settings.gradle
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/libs/spotify-android-auth-1.0.0.aar
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/libs/spotify-player-24-noconnect-2.20b.aar
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/AndroidManifest.xml
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/java/com/spotify/sdk/demo/DemoActivity.java
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/layout/activity_demo.xml
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/layout/buttons.xml
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/mipmap-hdpi/ic_launcher.png
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/mipmap-mdpi/ic_launcher.png
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/mipmap-xhdpi/ic_launcher.png
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/mipmap-xxxhdpi/ic_launcher.png
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/values/dimens.xml
app/libs/android-sdk-24-noconnect-2.20b/samples/DemoProject/src/main/res/values/strings.xml
